.formContainer {
width: 580px;
  padding: 44px 57px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  max-height: 588px;
}

.title {
  font-weight: 600;
font-size: 20px;
line-height: 1.2;
color: #101828;
margin-bottom: 8px;
}

.subtitle {
 font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: #6c717b;
margin-bottom: 24px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.formGroup {
  width: 94%;
}

.formControl {
  width: 98%;
  padding: 18px;
  border-radius: 10px;
  background-color: #f7f7f7;
  outline: none;
  font-size: 1em;
  border: none;
  font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: #101828;
  
}

.formControlComment {
  width: 98%;
  padding: 18px;
height: 118px;
  border-radius: 10px;
  background-color: #f7f7f7;
  outline: none;
  font-size: 1em;
  resize: none;
  border: none;
  font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: #101828;
}

.formControl:focus, .formControlComment:focus {
  border: none; 
  box-shadow: none; 
}

.formControl::placeholder, .formControlComment::placeholder{
    font-weight: 400;
font-size: 16px; 
line-height: 1.5;
color: #6c717b;
}

.isInvalid {
  border-color: red;
}

.errorMessage {
  color: red;
  font-size: 0.875em;
}

.submitButton {
    align-self: center;
    width: fit-content;
  border-radius: 200px;
padding: 16px 60px;
  border: none;
  margin-top: 10px;
  background-color: #e44848;
  color: white;
font-size: 16px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #D84343;
}

.datePickerWrapper {
  width: 100%;
}

.datePickerInput {
  width: 535px;
  padding: 18px;
  border-radius: 10px;
  background-color: #f7f7f7;
  outline: none;
  font-size: 1em;
  border: none;
  font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: #101828;
}


.calendar {
  border-radius: 5px;
  font-weight: 600;
font-size: 12px; 
line-height: 1.2;
text-align: center;
color: #475467;
}

.calendar .react-datepicker__header {
  background-color: #f7f7f7;
  border-bottom: 1px solid #e0e0e0;
}

.calendar .react-datepicker__day--selected {
  background-color: #3949ab;
  color: white;
  
}

.calendar .react-datepicker__day--keyboard-selected {
  background-color: #3949ab;
  color: white;
}