.card{
 width: 888px;
    border: 1px solid #dadde1;
border-radius: 20px;
padding: 24px;
display: flex;
flex-direction: row;
gap: 24px;
}

.image{
    border-radius: 10px;
width: 292px;
height: 320px;
}

.cardContent{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.description {
  font-size: 14px;
  color: #475467;
  display: -webkit-box;          
  -webkit-line-clamp: 1;         
  -webkit-box-orient: vertical;  
  overflow: hidden;              
  text-overflow: ellipsis;       
}

.headerInfo{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.header{
    display: flex;
    flex-direction: row;
    font-weight: 600;
font-size: 24px;
justify-content: space-between;
}

.title{
font-size: 24px;
}

.rightContent{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

.button {
    padding: 16px 40px;
    border-radius: 200px;
    border: none;
    background-color: #E44848;
    color: #F7F7F7;
    max-width: 166px;
    cursor: pointer;
    -webkit-transition: background-color 0.3s linear;
    -ms-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
}

.button:hover{
    background-color: #D84343;
    -webkit-transition: background-color 0.3s linear;
    -ms-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
}

.heartIcon, .heartIconActive{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.heartIcon svg path{
   fill: #101828; 
  transition: fill 0.5s ease;
}

.heartIconActive svg path{
   fill: #E44848; 
  transition: fill 0.5s ease;
}

.ratingLocation{
    font-weight: 400;
font-size: 16px;
display: flex;
flex-direction: row;
align-items: center;
gap: 16px;
}

.ratingLocationInto{
    display: flex;
flex-direction: row;
align-items: center;
gap: 4px;
}

.feature{
    background-color: #F2F4F7;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 12px 18px;
    border-radius: 100px;
    gap: 8px;
    font-weight: 500;
font-size: 16px;
}

.featureIcon{
    width: 20px;
    height: 20px;
}

.features{
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex-wrap: wrap;
    row-gap: 8px;
}